.person-info{
    text-align: center;
    line-height: 25px;
}
.person-photo{
    height: 100px;
    width: 100px;
    filter: grayscale(1);
}
.person-name{
    text-transform: capitalize;
    margin: 0;
    font-weight: 100;
}
.peron-position{
    text-transform: capitalize;
    margin: 0;
}
